{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">
  <h1 class="text-center mb-5">Alteração de Senha</h1>
    <div class="row card p-5">
      
      

      <form action="{% url 'update_password' %}" method="POST">
        {% if senha_padrao %}
        <div class="rounded shadow bg-danger text-white text-center p-2 mb-3">Senha Padrão deve ser alterada</div>
        {% endif %}

        {% csrf_token %}
        <div class="row">
            {% for field in form.visible_fields %}
            <div class="col-12 col-lg-12" style="margin-bottom: 10px;">
                <label for="{{ field.id_for_label }}" class="text-dark mb-2 p-1">{{field.label}}</label>
                {{ field }}
            </div>
            {% for error in field.errors %}
            <div class="alert alert-danger">
                {{error}}
            </div>
            {% endfor %}
            {% endfor %}
        </div>
        <div>
            <button type="submit" class="btn btn-info text-dark col-12" style="padding: top 5px;">Atualizar Senha</button>
        </div>
    </form>

    </div>
  </div>
  <!-- / Content -->

{% endblock %}